
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="aboutbackgroud">
    <div class="aboutus">
        About us
    </div>
    <div>
        <div class="contentAboutus">
           <div class="">
               
                   <h1 style="text-align:center">
                       <strong>Giới thiệu về công ty</strong>
                  </h1>
                  <hr style="color:red; resize:initial" />
               <p style="text-align:left; color: #643D3D">
                   Công ty <strong>Perfect Proberty Company(PPCRetal)</strong> chúng tôi hân hạnh được là
                   một môi trường chung gian kết nối những khách hàng đã và đang muốn sở hữu
                   hoặc thuê một căn hộ với chủ đầu tư. Khách hàng có thể xem và lựa chọn những
                   kiểu căn hộ mà mình mong muốn, được hòa minh vào không gian sống một thoải
                   mái nhất.
                   <br><br>Sự an tâm và hài lòng của khách hàng chính là mục tiêu cao nhất mà Công ty <strong>PPC</strong>
                   cùng các đối tác luôn nỗ lực hoàn thiện trong từng sản phẩm. Với động lực là niềm tin tưởng
                   từ khách hàng, Công ty PPC đang ngày càng phát triển để xứng tầm là một trong những môi trường
                   môi giới bất động sản uy tín trong thị trường căn hộ tại TP.HCM.
                   <br><br>
               <p style="text-align:center">
                   <img src="~/Content/img/aboutus.jpg" />
               </p>
               <hr>
               <p style="text-align:left; color:#643D3D">               
                   <br>Hiện nay <strong>PPC</strong> là một trong những công ty phát triển bất động sản có uy tín và tự hào phát triển các dự án:
                   <br>- Căn hộ Green River.
                   <br>- Khu chung cư cao cấp Sunrise City.
                   <br>- Căn hộ cao cấp Quận 2.
                   <br>- Khu phức hợp Saigon Airport Plaza.
                   <br>- Dự án Léman Luxury Apartments.
                   <br>- Dự án MILLENNIUM.
                   <br><br>Đến với chúng tôi bạn có thể an tâm về chất lượng mà chúng tôi cung cấp cho bạn
                   an tâm về những nhà đầu tư hợp tác với chúng tôi, an tâm về những thông tin mà chúng
                   tôi cung cấp cho bạn. Vì công ty <strong>PPC</strong> luôn đặt <b>Uy tín</b>-<b>Trách nhiệm</b>-
                   <b>Dễ dàng giao dịch</b>.
               </p>                             
           </div>
        </div>
    </div>
</div>


