
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="aboutbackgroud">
    <div class="aboutus">
        About us
    </div>
    <div>
        <div class="contentAboutus">
           <div class="contentAboutusStyle">
               <p></p>
           </div>
        </div>
    </div>
</div>


