@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .prop_social_single {
    width: 100%;
    padding-bottom: 10px;
    text-align: right;
    margin-top: -15px;
    float: right;
    color:black;
}
    .featured_article_righ, .featured_article_secondline, .property_location .inforoom, .property_location .infobath, .agent_meta, .blog_unit_meta a, .property_location .infosize, .sale_line, .meta-info a, .breadcrumb > li + li:before, .blog_unit_meta, .meta-info, .agent_position, .breadcrumb a{
        color:#4b5684;
    }
    a{
        color: #4c5483;
        transition: all 0.3s ease 0s;
    }
</style>
<div class="container content_wrapper">
    <div id="post" class="row post-5008 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-news-tips tag-hoi-an tag-hue tag-landscape tag-photography tag-travel">
        <div class="col-xs-12 col-md-12 breadcrumb_container">
            <ol class="breadcrumb">
                <li class="active">Sky Park Residence: Thi công nội thất như xây nhà cho chính mình</li>
            </ol>
        </div>    <div class="col-md-9 rightmargin single_width_blog">
            <div id="listing_ajax_container">

            </div>

            <h1 class="entry-title single-title">Sky Park Residence: Thi công nội thất như xây nhà cho chính mình</h1>

            <div class="meta-info">
                <div class="meta-element"> Posted by  Admin on December 19, 2017</div>
                <div class="meta-element"> <span class="meta-separator"> | </span><i class="fa fa-comment-o"></i> 0   </div>
                <div class="prop_social_single">
                    <a href="http://www.facebook.com/sharer.php?u=https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/&amp;t=Vietnam+from+above%3A+These+shots+from+north+to+south+will+take+your+breath+away" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>
                    <a href="http://twitter.com/home?status=Vietnam+from+above%3A+These+shots+from+north+to+south+will+take+your+breath+away+https%3A%2F%2Fplaceinsaigon.com%2Fvietnam-shots-north-south-will-take-breath-away%2F" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
                    <a href="https://plus.google.com/share?url=https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="share_google"><i class="fa fa-google-plus fa-2"></i></a>
                    <a href="http://pinterest.com/pin/create/button/?url=https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/&amp;media=https://placeinsaigon.com/wp-content/uploads/2017/09/vietnam-from-above-these-shots-from-north-to-south-will-take-your-breath-away-9.jpg&amp;description=Vietnam+from+above%3A+These+shots+from+north+to+south+will+take+your+breath+away" target="_blank" class="share_pinterest"> <i class="fa fa-pinterest fa-2"></i> </a>
                </div>
            </div>
            <div class="single-content single-blog">
                <p>Với sự tham gia của những nhà thiết kế nội thất hàng đầu đến từ Italia và TTA Partners, Sky Park Residence mang đến cho cư dân một cuộc sống sang trọng, hài hòa, ấm áp và cảm giác thư thái, bình yên sau một ngày làm việc căng thẳng.</p>
                 <div id="attachment_8924" style="max-width: 900px" class="wp-caption alignnone"><img class="wp-image-8924 size-full" src="http://cafefcdn.com/thumb_w/650/2017/httpchannelvcmediavnprupload270201712img201712151052573892-1513331577565.jpg" alt="" width="800" height="470"><p class="wp-caption-text"></div>
                <p>
                    Sau những giờ làm việc căng thẳng, ai cũng mong mỏi được trở về ngôi nhà của chính mình để tận hưởng sự thoải mái, thư giãn cũng như kiến tạo hạnh phúc cho gia đình. Do vậy, với xu thế hiện nay, thiết kế nội thất đóng vai trò rất quan trọng trong việc tạo nên một không gian sống không chỉ thật thoải mái, lành mạnh mà còn phải tinh tế và đầy tính thẩm mỹ.

                    Hiểu được điều này, ngoài vị trí thuận lợi, phối cảnh tổng thể ấn tượng, Tổng Công ty Xây dựng Thanh Hóa còn chăm chút tỉ mỉ từ chất lượng xây dựng đến nội thất bàn giao cho từng căn hộ của dự án Sky Park Residence thật sang trọng, cao cấp nhưng cũng đầy ấm cúng.

                    Bên trong mỗi căn hộ Sky Park Residence, từ vật liệu tới nội thất đều được chọn lọc theo tiêu chí khắt khe của các nhà thiết kế nội thất hàng đầu đến từ Italia và TTA Partners. Đồng thời, thiết kế còn sáng tạo theo phong cách tối giản kết hợp tinh tế với phong cách Đông Dương cho từng khu chức năng của dự án.

                    Nhờ đó, chủ đầu tư mang đến cho căn hộ Sky Park Residence nét sang trọng, hiện đại của kiến trúc trời Âu nhưng vẫn hài hòa trong hơi thở phương Đông.
                </p>
                <div id="attachment_8924" style="max-width: 900px" class="wp-caption alignnone"><img class="wp-image-8924 size-full" src="http://channel.mediacdn.vn/thumb_w/640/prupload/270/2017/12/img20171215105214209.jpg" alt="" width="800" height="470"><p class="wp-caption-text"></div>
                <p>Danh mục nội thất bàn giao Sky Park Residence cũng được sử dụng các vật liệu nhập khẩu chất lượng cao từ Đức, Tây Ban Nha... Với vật liệu, nội thất được nhập khẩu từ các đơn vị hàng đầu thế giới như Toto, Daikin, Mitshubishi, Siemens, Philips… và rất nhiều những thương hiệu danh giá nhất thị trường hiện nay, chủ đầu tư mong muốn dành tặng những giá trị tốt nhất và bền vững nhất cho tất cả cư dân tương lai của Sky Park Residence.

Nội thất cao cấp, phong cách kiến trúc hiện đại và màu sắc tinh tế gây ấn tượng mạnh mẽ đối với các gia đình trẻ. Điều này càng khẳng định giá trị sống chất lượng cho từng căn hộ - nơi hội tụ giá trị hạnh phúc của mỗi cư dân. Đó chính là tư tưởng xuyên suốt của chủ đầu tư làm nên thương hiệu Sky Park Residence.

Bên cạnh đó, chủ đầu tư cũng dồn hết tâm huyết vào trong từng chi tiết nhỏ của căn hộ với sự tinh tế, cao cấp. Khách hàng hoàn toàn có thể đến văn phòng bán hàng của dự án để nhìn tận mắt, sờ tận tay vào chính nội thất sau này được sử dụng.</p>
                <p style="text-align: right;"><strong>VnExpress</strong></p>
            </div>
            <!-- #comments start-->
            <!-- end comments -->

        </div>

        <!-- begin sidebar -->
        <div class="clearfix visible-xs"></div>

        <div class="col-xs-12 col-md-3 widget-area-sidebar" id="primary">
                <li id="footer_latest_widget-2" class="widget-container latest_listings">
                    <h3 class="widget-title-sidebar">Latest Listing</h3>
                    <div class="latest_listings">
                        <div class="widget_latest_internal" data-link="#">
                            <div class="widget_latest_listing_image">
                                <a href="#"><img src="http://cafefcdn.com/thumb_w/650/2017/a9-1512354538474.jpg" alt="slider-thumb" data-original="http://cafefcdn.com/thumb_w/650/2017/a9-1512354538474.jpg" class="lazyload img_responsive" height="150" width="210"></a>
                            </div><div class="listing_name  ">
                                <span class="widget_latest_title"><a href="#">TP Hồ Chí Minh: Phát triển hạ tầng khu Nam, BĐS có nóng theo?</a></span>
                            </div>
                        </div>
                        <div class="widget_latest_internal" data-link="#">
                                <div class="widget_latest_listing_image">
                                    <a href="#"><img src="http://cafefcdn.com/thumb_w/650/2017/a1-1513323673813.jpg" alt="slider-thumb" data-original="http://cafefcdn.com/thumb_w/650/2017/a1-1513323673813.jpg" class="lazyload img_responsive" height="150" width="210"></a>
                                </div><div class="listing_name  ">
                                    <span class="widget_latest_title"><a href="#">Phong cách thiết kế nội thất Bắc Âu (Scandinavia) ấn tượng trong căn hộ hơn 40m2</a></span>
                                </div>
                            </div>
                            <div class="widget_latest_internal" data-link="#">
                                <div class="widget_latest_listing_image">
                                    <a href="#"><img src="http://cafefcdn.com/thumb_w/650/2017/thanhbuoichhr-1513387199241.jpg" alt="slider-thumb" data-original="http://cafefcdn.com/thumb_w/650/2017/thanhbuoichhr-1513387199241.jpg" class="lazyload img_responsive" height="150" width="210"></a>
                                </div><div class="listing_name  ">
                                    <span class="widget_latest_title"><a href="#">Đại gia giày Sài Gòn thua lỗ, tính chuyển hướng sang... bất động sản?</a></span>
                                </div>
                            </div>
                    </div>
                </li>
        </div>

        <!-- end sidebar -->
    </div>

</div>