
@{
    ViewBag.Title = "Contact1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contactbackgroud">
    <div class="contact">
       Contact
    </div>
    <div>
        <div class="contentcontact">

        </div>
    </div>
</div>


