
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Meta tags -->
    <title>Login</title>
    <meta name="keywords" content="Winter Login Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/css/style1.css">
    <!-- google fonts  -->
    <link href="~/Content/fonts/fontawesome/"rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
@if (ViewBag.mess != null)
{
    <p>@ViewBag.mess</p>
}
<body>
    <div class="agile-login">
        <div class="wrapper">
            <h2>Đăng nhập</h2>
            <div class="w3ls-form">
                <form action="/home/login" method="post">
                    <label>Tài khoản</label>
                    <input type="text" name="email" placeholder="Email" required />
                    <label>Mật khẩu</label>
                    <input type="password" name="password" placeholder="Mật khẩu" required />
                    <a href="#" class="pass">Quên mật khẩu ?</a>
                    <input type="submit" value="Đăng nhập" />
                </form>
            </div>

            <div class="agile-icons">
                <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                <a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-pinterest-p"></span></a>
            </div>
            <p style="color:#fff">Bạn đã là thành viên hay chưa ? <a href="/home/signup" class="p">Đăng ký</a>
                </p> <p><a href="~/Home/Index" class="p">Trang chủ</a></p>
            <p  style="color:#fff"><a href="~/Agency/ForgetPassword">ForgetPassword</a></p>

        </div>
        <br>
        <div class="copyright">
            <p>© 2017 Winter Login. Design by <strong>Tran Anh Phuong</strong> </p>
        </div>
    </div>

</body>
</html>
