
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/css/newsgrid.css" rel="stylesheet" />
<section class="breadcrumb-area" style="background-image: url('../../Images/Vietnam-Da-Nang.jpg'); ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <h1>News</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-botton">
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <ul class=""><li><a href="~/Home/News">Home</a></li>  <li> > News</li></ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*<! -- list new -- >*@ 

<section id="blog-area" class="blog-grid-area">
    <div class="container">
        <div class="row">
            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://channel.mediacdn.vn/thumb_w/640/prupload/270/2017/12/img20171215105213980.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://channel.mediacdn.vn/thumb_w/640/prupload/270/2017/12/img20171215105213980.jpg 370w, http://channel.mediacdn.vn/thumb_w/640/prupload/270/2017/12/img20171215105213980.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="~/Home/Contact"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="~/Home/Contact">
                            <h3 class="blog-title">Sky Park Residence: Thi công nội thất như xây nhà cho chính mình</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM </a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>Với sự tham gia của những nhà thiết kế nội thất hàng đầu đến từ Italia và TTA ...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://cafefcdn.com/thumb_w/650/2017/a9-1512354538474.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://cafefcdn.com/thumb_w/650/2017/a9-1512354538474.jpg 370w, http://cafefcdn.com/thumb_w/650/2017/a9-1512354538474.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="~/Home/News"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="~/Home/News">
                            <h3 class="blog-title">TP Hồ Chí Minh: Phát triển hạ tầng khu Nam, BĐS có nóng theo?</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM</a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>Việc TP công bố quy hoạch và phát triển hạ tầng giao thông tại khu vực phía Nam được đánh giá là kịp thời...</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://cafefcdn.com/thumb_w/650/2017/mizuki-park-binh-chanh-10-850x478-1513390855709.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://cafefcdn.com/thumb_w/650/2017/mizuki-park-binh-chanh-10-850x478-1513390855709.jpg 370w,http://cafefcdn.com/thumb_w/650/2017/mizuki-park-binh-chanh-10-850x478-1513390855709.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="~/Home/News">
                            <h3 class="blog-title">Dòng vốn nước ngoài rót vào địa ốc Tp.HCM tăng cao kỷ lục, nhà đầu tư ngoại sẵn sàng “chơi lớn”</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM</a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>So với cùng kỳ năm ngoái, tính đến nay...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            </div>

        <div class="row">
            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://cafefcdn.com/thumb_w/650/2017/a1-1513323673813.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://cafefcdn.com/thumb_w/650/2017/a1-1513323673813.jpg 370w, http://cafefcdn.com/thumb_w/650/2017/a1-1513323673813.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="#">
                            <h3 class="blog-title">Phong cách thiết kế nội thất Bắc Âu (Scandinavia) ấn tượng trong căn hộ hơn 40m2</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM</a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>Mộc mạc, hiện đại, thanh lịch nhưng đầy đủ chức năng và không hề tẻ nhạt là ấn tượng đầu tiên đối với bất kỳ ai khi nhìn ngắm căn hộ này....</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://cafefcdn.com/thumb_w/650/2017/thanhbuoichhr-1513387199241.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://cafefcdn.com/thumb_w/650/2017/thanhbuoichhr-1513387199241.jpg 370w,http://cafefcdn.com/thumb_w/650/2017/thanhbuoichhr-1513387199241.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="#">
                            <h3 class="blog-title">Đại gia giày Sài Gòn thua lỗ, tính chuyển hướng sang... bất động sản?</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM</a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>Đầu tháng 12 vừa qua, Cty cổ phần Giày Sài Gòn tiếp tục gửi đơn lần thứ 2 lên  ...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
            <!--Start single blog post-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-item hvr-wobble-horizontal">
                    <div class="img-holder">
                        <img width="370" height="220" src="http://cafefcdn.com/thumb_w/650/2017/httpchannelvcmediavnprupload270201712img201712151448439044-1513331483708.jpg" class="attachment-industry_370x220 size-industry_370x220 wp-post-image" alt="" srcset="http://cafefcdn.com/thumb_w/650/2017/httpchannelvcmediavnprupload270201712img201712151448439044-1513331483708.jpg 370w,http://cafefcdn.com/thumb_w/650/2017/httpchannelvcmediavnprupload270201712img201712151448439044-1513331483708.jpg 300w" sizes="(max-width: 370px) 100vw, 370px">                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="#">
                            <h3 class="blog-title">Về Sunny Garden City tìm không gian sống yên bình.</h3>
                        </a>
                        <ul class="meta-info">
                            <li><a href="#">17-12-2017 - 08:47 AM</a></li>
                            <li><a href="#">0 comment</a></li>
                        </ul>
                        <div class="text">
                            <p>Trong bối cảnh khí hậu ngày càng biến đổi, các khu đô thị cũng trở nên chật chội ...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single blog post-->
        </div>
        <!--Start post pagination-->
        <div class="row">
            <div class="col-md-12">
                <div class="post-pagination text-center">
                    <ul class="pagination">
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="~/Home/News">2</a></li>
                        <li><a class="next page-numbers" href="~/Home/News"><i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End post pagination-->
    </div>
</section>
