
@{
    ViewBag.Title = "ChangePass";
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/meoStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid ">
        <div class="row" style="margin:0;">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-12 first_main" id="first">
                <div class="col-md-12 second">
                    <h1>Change Password</h1>
                    <form class="form-group" method="post"  action="~/Agency/IdentiChangepass">
                        <p>Password current</p>
                        <input type="Password" name="passOld" class="form-control">
                        <p>Password New</p>
                        <input type="Password" name="passNew" id="passNew1" class="form-control">
                        <p>Password Confirm</p>
                        <input type="Password" name="passCf" id="passNew2" class="form-control">
                        <p class="p_last">
                            <p id="pwMeo"></p>
                            <button class="btn btn-success" type="submit">Change</button>
                            <button class="btn btn-danger">Cancel</button>
                        </p>
                    </form>
                </div>
                <div class="col-md-12 third">
                    <p>Coder by JudasFate</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/msoJS.js"></script>
</body>
</html>