.div_slide{
	color:white;
	transform: translateX(33%);
}
.open-larger:hover div a img{
	width: 800px;
	transition: 2s;
	height:500px;
	z-index:10;
}
.open-larger:not(:hover) div a img{
	width: 200px;
	transition: 2s;
}
.meo_slide{
	padding: 0;
}
.img_slide{
	height: 750px !important;
}
.detail_frist{
	margin-top:100px;
}
@media (max-width:414px){
	.carousel-inner div img{
		height: 300px !important;
	}
	.div_slide {
		color: white;
		transform: translateX(0);
		transform: translateY(-30%);
	}
}

