.div_slide{
	color:white;
	transform: translateX(33%);
}
.open-larger:hover div a img{
	width: 800px;
	transition: 2s;
	height:500px;
	z-index:10;
}
.open-larger:not(:hover) div a img{
	width: 200px;
	transition: 2s;
}
.meo_slide{
	padding: 0;
}
.img_slide{
	height: 750px !important;
}
.detail_frist{
	margin-top:100px;
}
.a_project_hot{
	position: relative;
}
.header_detail h1{		
   color: steelblue;		
   text-align: center;		
 }		
 .maio_img img{		
 	width: 100%;		
 }		
 .frist_content_left{		
     font-size: 26px;		
     font-weight: bold;		
     color: #19cab3;		
 }
 .circliful .outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 19.8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
}

/* full circle 25 empty 534 */
.circliful .inner {
    fill: transparent;
    stroke: orange;
    stroke-width: 20;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    /* firefox bug fix - won't rotate at 90deg angles */
    -moz-transform: rotate(-89deg) translateX(-190px);
    stroke-dashoffset: 0;
}

.circliful {
    overflow: visible !important;

}

.svg-container {
    width: 100%;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

svg .icon {
    font-family: FontAwesome;
}

.legend-line {
    white-space: nowrap;
}

.color-box {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding-top: 3px;
    margin: 2px 5px 0 0;
}
@media (max-width:414px){
	.carousel-inner div img{
		height: 300px !important;
	}
	.div_slide {
		color: white;
		transform: translateX(0);
		transform: translateY(-30%);
	}
}

